<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LANDING PAGE || TravelMore</title>
    <!-- Fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>

    <!-- CSS Files -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.min.css" rel="stylesheet"/>
    <link href="../static/style.css" rel="stylesheet"/>
</head>
<body>
    <header>
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <button
        data-mdb-collapse-init
        class="navbar-toggler"
        type="button"
        data-mdb-target="#Options"
        aria-controls="navbarExample01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse" id="Options">
        <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <img
          src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp" height="15" alt="TravelMore Logo" loading="lazy"/>
        </a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="navbar-brand">
                <a class="nav-item" href="#">Travel <span class="text-success">More</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
        <div class="d-flex align-items-center">
            <button class="btn btn-primary" data-mdb-ripple-init data-mdb-ripple-color="light">My Account</button>
        </div>
      </div>
    </div>
  </nav>

  <div
    class="p-5 text-center bg-image"
    style="
      background-image: url('https://lp-cms-production.imgix.net/2022-03/GettyImages-1209700593.jpg?w=1440&h=810&fit=crop&auto=format&q=75');
      height: 700px;
    "
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white mt-4">
          <h1 class="mb-1 display-1">Travel <span class="text-success">More</span></h1>
          <h4 class="mb-3">Let's travel the world!</h4>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>
<div class="bg-primary">
    <marquee direction="left" width="100%">
        <span class="text-dark">It is not down in any map; true places never are. || I'm in love with cities I've never been to and people I've never met.</span>
    </marquee>
</div>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.umd.min.js"></script>
</body>
</html>